.cleanup-main {
    display: none;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.cleanup-main > input {
    color: white;
}